.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
  }
  
  .navbar-logo {
    width: 100px;
  }
  
  .navbar-right {
    display: flex;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navbar-links li a:hover {
    color: #28a745; /* NLW Lawn Care primary color */
  }
  